:root {
   --color-bg: #030500;
   --color-primary: #810c30;
   --color-ligth: #fff;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   color: var(--color-ligth);
   background-color: var(--color-bg);
   font-size: 100%;
   font-family: "Poppins", sans-serif;
}
a {
   text-decoration: none;
   color: var(--color-ligth);
}

