:root {
   --color-bg: #030500;
   --color-primary: #810c30;
   --color-ligth: #fff;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   color: var(--color-ligth);
   background-color: var(--color-bg);
   font-size: 100%;
   font-family: "Poppins", sans-serif;
}
a {
   text-decoration: none;
   color: var(--color-ligth);
}
::-webkit-scrollbar {
   width: 0;
}

/* ======================= HEADER ======================= */

.header {
   padding: 1.25rem 6.25rem;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   transform: translateY(-100%);
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__logo {
   color: var(--color-ligth);
   font-size: 2rem;
   font-weight: 800;
}
.header__burger {
   font-size: 1.5rem;
}

/* ======================= CONTENT ====================== */

.hero {
   height: 100vh;
   position: relative;
}
.container-animation {
   height: 100%;
   width: 100%;
}
.bg-full,
.mountain-left,
.mountain-right,
.soldier {
   position: absolute;
   top: 70px;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   pointer-events: none;
   opacity: 0;
}
.bg-full {
   position: relative;
   z-index: 0;
   top: 0;
}
.mountain-left {
   z-index: 2;
}
.mountain-right {
   z-index: 3;
}
.soldier {
   z-index: 1;
   top: -20px;
}

.title-album {
   font-size: 2rem;
   width: 100%;
   text-align: center;
   position: absolute;
   top: 57%;
   left: 50%;
   transform: translateX(-50%);
   color: var(--color-ligth);
   z-index: 1;
   opacity: 0;
}
.button {
   display: inline-block;
   padding: 0.625rem 1.25rem;
   background-color: var(--color-bg);
   font-size: 1rem;
   border-radius: 1px;
   transition: background 300ms;
}
.button:hover {
   background-color: var(--color-primary);
}

/* ======================== ABOUT ======================= */
.section-about {
   max-width: 1200px;
   margin: 0 auto;
   margin-top: 4rem;
   padding: 2rem 5rem;
   position: relative;
}
.section-about__heading {
   text-align: center;
   margin-bottom: 5rem;
}
.section-about__heading .h2 {
   font-size: 1.25rem;
   font-weight: 300;
}
.section-about__heading .h3 {
   font-size: 2.25rem;
   font-weight: 800;
}
.section-about__content {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1rem;
   align-items: center;
   margin-bottom: 5rem;
}

@media screen and (max-width: 767px) {
   .section-about,
   .header {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
   }
   .title-album {
      font-size: 1.5rem;
      top: 50%;
   }
   .soldier {
      top: -75px;
   }
   .section-about__heading {
      margin-bottom: 3rem;
   }
   .section-about__content {
      grid-template-columns: 1fr;
      text-align: center;
   }
}

/* ===================== MENU RIGHT ===================== */

.page-content {
   position: relative;
   transition: margin 600ms;
   z-index: 1;
   box-shadow: 6px 1px 8px #00000071;
   background-color: var(--color-bg);
}
.page-content.active {
   margin-right: 350px;
}
.nav {
   position: fixed;
   right: 0;
   width: 100%;
   max-width: 350px;
   height: 100%;
   background-color: var(--color-primary);
   padding: 1.9rem 2.8125rem;
   display: flex;
   flex-direction: column;
   gap: 2.8rem;
}
.nav__close {
   display: flex;
   gap: 0.5rem;
   align-items: center;
   margin-left: auto;
}
.nav__close i {
   font-size: 1.5rem;
}
.nav__phrase {
   font-size: 2.25rem;
   font-weight: 800;
}
.navbar {
   list-style: none;
   text-transform: uppercase;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.navbar__link {
   transition: color 300ms;
}
.navbar__link:hover,
.navbar__link.active {
   color: #e1b6ad;
}
.nav-credits__item {
   margin-bottom: 1rem;
}
.nav-credits__item h3 {
   font-size: 1rem;
}
.nav-credits__item p {
   font-size: 0.875rem;
}
.nav-social {
   list-style: none;
   display: flex;
   gap: 1rem;
}
@media screen and (max-width: 992px) {
   .page-content.active {
      margin-right: 0;
   }
   .nav {
      z-index: 2;
      max-width: 450px;
      right: -150%;
      transition: right 600ms;
   }
   .nav.active {
      right: 0;
   }
}
